# Content based recommendation system

In [294]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns    
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

In [295]:
movies1 = pd.read_csv(r'D:\Learnbay\Weekend Project Sunduram sir\RECOMMENDATION SYSTEM\IMDB\IMDb_Dataset.csv')
movies2 = pd.read_csv(r'D:\Learnbay\Weekend Project Sunduram sir\RECOMMENDATION SYSTEM\IMDB\IMDb_Dataset_2.csv')
movies3 = pd.read_csv(r'D:\Learnbay\Weekend Project Sunduram sir\RECOMMENDATION SYSTEM\IMDB\IMDb_Dataset_3.csv')

In [296]:
movies1.head()

,Title,IMDb Rating,Year,Certificates,Genre,Director,Star Cast,MetaScore,Duration (minutes)
0,Gladiator,8.5,2000,R,Action,Ridley Scott,David FranzoniJohn LoganWilliam Nicholson,67.0,155.0
1,Mission: Impossible - Dead Reckoning Part One,7.7,2023,PG-13,Action,Christopher McQuarrie,Tom CruiseHayley AtwellVing Rhames,81.0,163.0
2,Rebel Moon - Part Two: The Scargiver,5.2,2024,PG-13,Action,Zack Snyder,Zack SnyderKurt JohnstadShay Hatten,35.0,122.0
3,Inglourious Basterds,8.4,2009,R,Adventure,Quentin Tarantino,Brad PittDiane KrugerEli Roth,69.0,153.0
4,Borderlands,7.1,2024,R,Action,Eli Roth,Eli RothJoe Crombie,66.9,116.3

In [297]:
movies1.columns

Index(['Title', 'IMDb Rating', 'Year', 'Certificates', 'Genre', 'Director',
       'Star Cast', 'MetaScore', 'Duration (minutes)'],
      dtype='object')

In [298]:
movies2.head()

,Title,IMDb Rating,Year,Certificates,Genre,Director,Star Cast,MetaScore,Poster-src,Duration (minutes)
0,End of the Spear,6.8,2005,PG-13,Adventure,Jim Hanon,Louie LeonardoChad AllenJack Guzman,45.0,https://m.media-amazon.com/images/M/MV5BMTYxOT...,108.0
1,Elvira Madigan,7.0,1967,PG,Biography,Bo Widerberg,Pia DegermarkThommy BerggrenLennart Malmer,66.0,https://m.media-amazon.com/images/M/MV5BMmY2Nj...,91.0
2,The Kid Stays in the Picture,7.3,2002,R,Documentary,Nanette Burstein,Robert EvansEddie AlbertPeter Bart,75.0,https://m.media-amazon.com/images/M/MV5BZjhiZm...,93.0
3,It Ain't Over,8.2,2022,PG,Documentary,Sean Mullin,Andy AndresRoger AngellMarty Appel,79.0,https://m.media-amazon.com/images/M/MV5BZWViYW...,99.0
4,Mahler,7.0,1974,PG,Biography,Ken Russell,Robert PowellGeorgina HaleLee Montague,66.0,https://m.media-amazon.com/images/M/MV5BYzY4Mz...,115.0

In [299]:
movies2.columns

Index(['Title', 'IMDb Rating', 'Year', 'Certificates', 'Genre', 'Director',
       'Star Cast', 'MetaScore', 'Poster-src', 'Duration (minutes)'],
      dtype='object')

In [300]:
movies3.head(3)

,Title,Director,Star Cast,Year,IMDb Rating,MetaScore,Certificates,Genre,Second_Genre,Third_Genre,Poster-src,Duration (minutes)
0,The Biggest Little Farm,John Chester,John Chester,2018,8.0,73.0,PG,Documentary,Family,Family,https://m.media-amazon.com/images/M/MV5BMjQ1Mj...,91.0
1,Pokémon the Movie 2000,Kunihiko Yuyama,Veronica Taylor,1999,6.1,28.0,G,Animation,Action,Adventure,https://m.media-amazon.com/images/M/MV5BNzE1Nj...,99.0
2,When Hitler Stole Pink Rabbit,Caroline Link,Riva Krymalowski,2019,7.0,54.0,PG,Biography,Drama,Family,https://m.media-amazon.com/images/M/MV5BMmNiOW...,100.0

In [301]:
movies3.columns

Index(['Title', 'Director', 'Star Cast', 'Year', 'IMDb Rating', 'MetaScore',
       'Certificates', 'Genre', 'Second_Genre', 'Third_Genre', 'Poster-src',
       'Duration (minutes)'],
      dtype='object')

## Info

In [302]:
movies1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               400 non-null    object
 1   IMDb Rating         400 non-null    float64
 2   Year                400 non-null    int64
 3   Certificates        400 non-null    object
 4   Genre               400 non-null    object
 5   Director            400 non-null    object
 6   Star Cast           400 non-null    object
 7   MetaScore           400 non-null    float64
 8   Duration (minutes)  400 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 28.3+ KB

In [303]:
movies1.shape

(400, 9)

In [304]:
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173 entries, 0 to 3172
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               3173 non-null   object
 1   IMDb Rating         3173 non-null   float64
 2   Year                3173 non-null   int64
 3   Certificates        3173 non-null   object
 4   Genre               3173 non-null   object
 5   Director            3173 non-null   object
 6   Star Cast           3173 non-null   object
 7   MetaScore           3173 non-null   float64
 8   Poster-src          3173 non-null   object
 9   Duration (minutes)  3173 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 248.0+ KB

In [305]:
movies2.shape

(3173, 10)

In [306]:
movies3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Director            1000 non-null   object
 2   Star Cast           1000 non-null   object
 3   Year                1000 non-null   int64
 4   IMDb Rating         1000 non-null   float64
 5   MetaScore           1000 non-null   float64
 6   Certificates        1000 non-null   object
 7   Genre               1000 non-null   object
 8   Second_Genre        1000 non-null   object
 9   Third_Genre         1000 non-null   object
 10  Poster-src          1000 non-null   object
 11  Duration (minutes)  1000 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 93.9+ KB

In [307]:
movies3.shape

(1000, 12)

## Duplicate basis title

In [308]:
print('movies1')
print(movies1['Title'].duplicated().sum())
print("****************************")
print('movies2')
print(movies2['Title'].duplicated().sum())
print("****************************")
print('movies3')
print(movies3['Title'].duplicated().sum())
print("****************************")

movies1
149
****************************
movies2
434
****************************
movies3
34
****************************

In [309]:
movies1.drop_duplicates(subset='Title', inplace=True)
movies2.drop_duplicates(subset='Title', inplace=True)
movies3.drop_duplicates(subset='Title', inplace=True)

In [310]:
print('movies1')
print(movies1['Title'].duplicated().sum())
print("****************************")
print('movies2')
print(movies2['Title'].duplicated().sum())
print("****************************")
print('movies3')
print(movies3['Title'].duplicated().sum())
print("****************************")

movies1
0
****************************
movies2
0
****************************
movies3
0
****************************

In [311]:
movies1.shape , movies2.shape , movies3.shape

((251, 9), (2739, 10), (966, 12))

In [312]:
print("movies1:", movies1['Title'].nunique())
print("movies2:", movies2['Title'].nunique())
print("movies3:", movies3['Title'].nunique())

movies1: 251
movies2: 2739
movies3: 966

In [313]:
movies3.columns

Index(['Title', 'Director', 'Star Cast', 'Year', 'IMDb Rating', 'MetaScore',
       'Certificates', 'Genre', 'Second_Genre', 'Third_Genre', 'Poster-src',
       'Duration (minutes)'],
      dtype='object')

## Add the Second_Genre  Third_Genre to Genre

In [314]:
movies1['Genre'] = movies1['Genre'].apply(lambda x : x.split())
movies2['Genre'] = movies2['Genre'].apply(lambda x : x.split())

In [315]:
# converting into list
movies3['Genre'] = movies3['Genre'].apply(lambda x : x.split())
movies3['Second_Genre'] = movies3['Second_Genre'].apply(lambda x : x.split())
movies3['Third_Genre'] = movies3['Third_Genre'].apply(lambda x : x.split())

In [316]:
movies3['Genre'] =  movies3['Genre'] + movies3['Second_Genre'] + movies3['Third_Genre']

In [317]:
movies3.head(3)

,Title,Director,Star Cast,Year,IMDb Rating,MetaScore,Certificates,Genre,Second_Genre,Third_Genre,Poster-src,Duration (minutes)
0,The Biggest Little Farm,John Chester,John Chester,2018,8.0,73.0,PG,"[Documentary, Family, Family]",[Family],[Family],https://m.media-amazon.com/images/M/MV5BMjQ1Mj...,91.0
1,Pokémon the Movie 2000,Kunihiko Yuyama,Veronica Taylor,1999,6.1,28.0,G,"[Animation, Action, Adventure]",[Action],[Adventure],https://m.media-amazon.com/images/M/MV5BNzE1Nj...,99.0
2,When Hitler Stole Pink Rabbit,Caroline Link,Riva Krymalowski,2019,7.0,54.0,PG,"[Biography, Drama, Family]",[Drama],[Family],https://m.media-amazon.com/images/M/MV5BMmNiOW...,100.0

## No need Second_Genre  Third_Genre

In [318]:
movies3.drop(columns=['Second_Genre' , 'Third_Genre'] , inplace=True)

In [319]:
movies3.columns

Index(['Title', 'Director', 'Star Cast', 'Year', 'IMDb Rating', 'MetaScore',
       'Certificates', 'Genre', 'Poster-src', 'Duration (minutes)'],
      dtype='object')

## Concanate on the basis of Title

In [320]:
final_movies = pd.concat([movies1 , movies2 , movies3] , axis=0)

In [321]:
final_movies.shape

(3956, 10)

In [322]:
final_movies.columns

Index(['Title', 'IMDb Rating', 'Year', 'Certificates', 'Genre', 'Director',
       'Star Cast', 'MetaScore', 'Duration (minutes)', 'Poster-src'],
      dtype='object')

In [323]:
final_movies.head()

,Title,IMDb Rating,Year,Certificates,Genre,Director,Star Cast,MetaScore,Duration (minutes),Poster-src
0,Gladiator,8.5,2000,R,[Action],Ridley Scott,David FranzoniJohn LoganWilliam Nicholson,67.0,155.0,NaN
1,Mission: Impossible - Dead Reckoning Part One,7.7,2023,PG-13,[Action],Christopher McQuarrie,Tom CruiseHayley AtwellVing Rhames,81.0,163.0,NaN
2,Rebel Moon - Part Two: The Scargiver,5.2,2024,PG-13,[Action],Zack Snyder,Zack SnyderKurt JohnstadShay Hatten,35.0,122.0,NaN
3,Inglourious Basterds,8.4,2009,R,[Adventure],Quentin Tarantino,Brad PittDiane KrugerEli Roth,69.0,153.0,NaN
4,Borderlands,7.1,2024,R,[Action],Eli Roth,Eli RothJoe Crombie,66.9,116.3,NaN

## Checking Duplicated values

In [324]:
final_movies['Title'].duplicated().sum()

300

In [325]:
final_movies.drop_duplicates(subset='Title' , inplace=True)

In [326]:
final_movies['Title'].duplicated().sum()

0

## Checking Missing Values

In [327]:
final_movies.isnull().sum()

Title                   0
IMDb Rating             0
Year                    0
Certificates            0
Genre                   0
Director                0
Star Cast               0
MetaScore               0
Duration (minutes)      0
Poster-src            251
dtype: int64

## Selecting requred columns

In [328]:
final_movies = final_movies[['Title' ,'Genre', 'Director','Star Cast', 'IMDb Rating']]

In [329]:
final_movies.head()

,Title,Genre,Director,Star Cast,IMDb Rating
0,Gladiator,[Action],Ridley Scott,David FranzoniJohn LoganWilliam Nicholson,8.5
1,Mission: Impossible - Dead Reckoning Part One,[Action],Christopher McQuarrie,Tom CruiseHayley AtwellVing Rhames,7.7
2,Rebel Moon - Part Two: The Scargiver,[Action],Zack Snyder,Zack SnyderKurt JohnstadShay Hatten,5.2
3,Inglourious Basterds,[Adventure],Quentin Tarantino,Brad PittDiane KrugerEli Roth,8.4
4,Borderlands,[Action],Eli Roth,Eli RothJoe Crombie,7.1

## Missing Value

In [330]:
final_movies.isnull().sum()

Title          0
Genre          0
Director       0
Star Cast      0
IMDb Rating    0
dtype: int64

## Removing Spaces

In [331]:
final_movies.head()

,Title,Genre,Director,Star Cast,IMDb Rating
0,Gladiator,[Action],Ridley Scott,David FranzoniJohn LoganWilliam Nicholson,8.5
1,Mission: Impossible - Dead Reckoning Part One,[Action],Christopher McQuarrie,Tom CruiseHayley AtwellVing Rhames,7.7
2,Rebel Moon - Part Two: The Scargiver,[Action],Zack Snyder,Zack SnyderKurt JohnstadShay Hatten,5.2
3,Inglourious Basterds,[Adventure],Quentin Tarantino,Brad PittDiane KrugerEli Roth,8.4
4,Borderlands,[Action],Eli Roth,Eli RothJoe Crombie,7.1

In [332]:
final_movies['Director'] = final_movies['Director'].apply(lambda x : x.replace(" ",""))

In [333]:
final_movies.head()

,Title,Genre,Director,Star Cast,IMDb Rating
0,Gladiator,[Action],RidleyScott,David FranzoniJohn LoganWilliam Nicholson,8.5
1,Mission: Impossible - Dead Reckoning Part One,[Action],ChristopherMcQuarrie,Tom CruiseHayley AtwellVing Rhames,7.7
2,Rebel Moon - Part Two: The Scargiver,[Action],ZackSnyder,Zack SnyderKurt JohnstadShay Hatten,5.2
3,Inglourious Basterds,[Adventure],QuentinTarantino,Brad PittDiane KrugerEli Roth,8.4
4,Borderlands,[Action],EliRoth,Eli RothJoe Crombie,7.1

## Convering into list

In [334]:
final_movies['Director'] = final_movies['Director'].apply(lambda x : x.split())
final_movies['Star Cast'] = final_movies['Star Cast'].apply(lambda x : x.split())

In [335]:
final_movies['IMDb Rating'] = final_movies['IMDb Rating'].astype(str)
final_movies['IMDb Rating'] = final_movies['IMDb Rating'].apply(lambda x : x.split())

In [336]:
final_movies.head()

,Title,Genre,Director,Star Cast,IMDb Rating
0,Gladiator,[Action],[RidleyScott],"[David, FranzoniJohn, LoganWilliam, Nicholson]",[8.5]
1,Mission: Impossible - Dead Reckoning Part One,[Action],[ChristopherMcQuarrie],"[Tom, CruiseHayley, AtwellVing, Rhames]",[7.7]
2,Rebel Moon - Part Two: The Scargiver,[Action],[ZackSnyder],"[Zack, SnyderKurt, JohnstadShay, Hatten]",[5.2]
3,Inglourious Basterds,[Adventure],[QuentinTarantino],"[Brad, PittDiane, KrugerEli, Roth]",[8.4]
4,Borderlands,[Action],[EliRoth],"[Eli, RothJoe, Crombie]",[7.1]

## Merge and make 2 columns

In [337]:
final_movies['context'] = final_movies['Genre'] + final_movies['Director'] + final_movies['Star Cast'] + final_movies['IMDb Rating']

In [338]:
final_movies.head()

,Title,Genre,Director,Star Cast,IMDb Rating,context
0,Gladiator,[Action],[RidleyScott],"[David, FranzoniJohn, LoganWilliam, Nicholson]",[8.5],"[Action, RidleyScott, David, FranzoniJohn, Log..."
1,Mission: Impossible - Dead Reckoning Part One,[Action],[ChristopherMcQuarrie],"[Tom, CruiseHayley, AtwellVing, Rhames]",[7.7],"[Action, ChristopherMcQuarrie, Tom, CruiseHayl..."
2,Rebel Moon - Part Two: The Scargiver,[Action],[ZackSnyder],"[Zack, SnyderKurt, JohnstadShay, Hatten]",[5.2],"[Action, ZackSnyder, Zack, SnyderKurt, Johnsta..."
3,Inglourious Basterds,[Adventure],[QuentinTarantino],"[Brad, PittDiane, KrugerEli, Roth]",[8.4],"[Adventure, QuentinTarantino, Brad, PittDiane,..."
4,Borderlands,[Action],[EliRoth],"[Eli, RothJoe, Crombie]",[7.1],"[Action, EliRoth, Eli, RothJoe, Crombie, 7.1]"

## Drop un-wanted columns

In [339]:
final_movies.drop(columns=['Genre', 'Director', 'Star Cast', 'IMDb Rating'] , inplace=True)

In [340]:
final_movies.head()

,Title,context
0,Gladiator,"[Action, RidleyScott, David, FranzoniJohn, Log..."
1,Mission: Impossible - Dead Reckoning Part One,"[Action, ChristopherMcQuarrie, Tom, CruiseHayl..."
2,Rebel Moon - Part Two: The Scargiver,"[Action, ZackSnyder, Zack, SnyderKurt, Johnsta..."
3,Inglourious Basterds,"[Adventure, QuentinTarantino, Brad, PittDiane,..."
4,Borderlands,"[Action, EliRoth, Eli, RothJoe, Crombie, 7.1]"

## Convert Context list into text

In [341]:
final_movies['context'] = final_movies['context'].apply(lambda x : " ".join(x))

In [342]:
final_movies['context'].head()

0    Action RidleyScott David FranzoniJohn LoganWil...
1    Action ChristopherMcQuarrie Tom CruiseHayley A...
2    Action ZackSnyder Zack SnyderKurt JohnstadShay...
3    Adventure QuentinTarantino Brad PittDiane Krug...
4               Action EliRoth Eli RothJoe Crombie 7.1
Name: context, dtype: object

## Feature Engennering 
- BOW (Bag of words)

In [343]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 , stop_words='english')
vector = cv.fit_transform(final_movies['context']).toarray()

In [344]:
pd.DataFrame(vector).head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Cosine-similarity

In [345]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.25819889, 0.18257419, ..., 0.2       , 0.        ,
        0.2       ],
       [0.25819889, 1.        , 0.23570226, ..., 0.25819889, 0.        ,
        0.25819889],
       [0.18257419, 0.23570226, 1.        , ..., 0.18257419, 0.        ,
        0.18257419],
       ...,
       [0.2       , 0.25819889, 0.18257419, ..., 1.        , 0.        ,
        0.6       ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.2       , 0.25819889, 0.18257419, ..., 0.6       , 0.        ,
        1.        ]])

In [346]:
final_movies[final_movies['Title'] == 'Borderlands'].index[0]

4

## Recommendation System

In [347]:
def recommendationSystem(movie):
    index = final_movies[final_movies['Title'] == movie].index[0]
    distance = sorted(list(enumerate(similarity[index])) , reverse=True , key=lambda x : x[1])

    for i in distance[1:6]: #top 5 movies
        print(final_movies.iloc[i[0]].Title)

In [348]:
recommendationSystem('Gladiator')

Superman in Exile
G.I. Jane
Exodus: Gods and Kings
Tomica Hero: Rescue Force Explosive Movie: Rescue the Mach Train!
Where the Journey Ends

In [349]:
recommendationSystem('Mission: Impossible - Dead Reckoning Part One')

Captain Phillips
The Substitute
Cloak & Dagger
One Man's Hero
Greyhound

In [350]:
recommendationSystem('Borderlands')

Tomica Hero: Rescue Force Explosive Movie: Rescue the Mach Train!
Where the Journey Ends
Aavesham
The Iron Giant
Beverly Hills Cop: Axel F

In [351]:
recommendationSystem('Rebel Moon - Part Two: The Scargiver')

Rebel Moon - Part One: A Child of Fire
Army of the Dead
Dawn of the Dead
Tomica Hero: Rescue Force Explosive Movie: Rescue the Mach Train!
Where the Journey Ends